.main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card{
    height: 500px;
    width: 30%;
}
.card:hover{
    transform: scale(1.02);
    transition: all 0.5s;
    cursor: pointer;
    box-shadow: 2px 2px 15px 5px black;
}
.d-block{
    height: 500px;
    padding-top: 20px;
    padding-bottom: 20px;
}